html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #2c3e50;
}

#app {
    margin: 0 auto;
}

body.popup #app {
    height: 600px;
    width: 375px;
}

body.options  #app {
    width: 750px;
}