.n-button--primary-type {
    background-color: $color-primary !important;
}

.n-popover{
    padding: 0 !important;
}

.n-dialog__action {
    .n-button--default-type {
        --n-border: none !important;
        border: 1px solid rgb(239, 239, 245) !important;
    }
    .n-button--default-type:hover {
        --n-border-hover: none !important;
        color: #333 !important;
    }
    .n-button--warning-type {
        background: #fcb040 !important;
    }
}

.n-tabs-nav-y-scroll {
    border-right: 1px solid rgb(239, 239, 245) !important;
}

.n-tabs-nav-scroll-content{
    border-right: none !important;
}

.n-tabs-pane-wrapper{
    width: 100% !important;
}

.n-card-header{
    padding-bottom: 10px !important;
}